<div class="author">
  {% for author in item.authors %}
    {% assign author_is_self = false %}
    {% if author.name contains site.scholar.last_name%}
        {% assign author_is_self = true %}
    {% endif %}
    {% unless forloop.last %}
      {% if author_is_self %}
        <em class="author">{{author.name}}</em>,
      {% else %}
        {{author.name}},
      {% endif %}
  {% else %}
      {% if author_is_self %}
        <em class="author">{{author.name}}</em>
      {% else %}
        {{author.name}}
      {% endif %}
  {% endunless %}
  {% endfor %}
</div>