<div class="project-item">
  <h3 data-toggle="collapse" data-target="#project-{{ project.title | slugify }}" aria-expanded="false" class="project-toggle">
    {{ project.title }}
    {% if project.authors or project.abstract != "" %}
      <i class="fas fa-chevron-down accordion-arrow"></i>
    {% endif %}
  </h3>
  {% if project.tagline %}
    <p class="project-tagline">{{ project.tagline }}</p>
  {% endif %}
  <div class="project-icons">
    {% if project.github %}
      <a href="{{ project.github }}" target="_blank" title="GitHub"><i class="fab fa-github"></i></a>
    {% endif %}
    {% if project.huggingface %}
      <a href="{{ project.huggingface }}" target="_blank" title="Hugging Face"><img src="https://huggingface.co/front/assets/huggingface_logo-noborder.svg" alt="HF" class="hf-icon"></a>
    {% endif %}
    {% if project.huggingface_space %}
      <a href="{{ project.huggingface_space }}" target="_blank" title="Hugging Face Space"><i class="fas fa-rocket"></i></a>
    {% endif %}
    {% if project.paper %}
      <a href="{{ project.paper }}" target="_blank" title="Paper"><i class="fas fa-file-alt"></i></a>
    {% endif %}
    {% if project.pdf %}
      <a href="{{ project.pdf }}" target="_blank" title="Free PDF"><i class="ai ai-open-access"></i></a>
    {% endif %}
    {% if project.biorxiv %}
      <a href="{{ project.biorxiv }}" target="_blank" title="Preprint"><i class="ai ai-biorxiv"></i></a>
    {% endif %}
    {% if project.colab %}
      <a href="{{ project.colab }}" target="_blank" title="Google Colab"><i class="fab fa-google"></i></a>
    {% endif %}
    {% if project.website %}
      <a href="{{ project.website }}" target="_blank" title="Website"><i class="fas fa-globe"></i></a>
    {% endif %}
  </div>
  {% if project.authors or project.abstract != "" %}
  <div id="project-{{ project.title | slugify }}" class="collapse">
    <div class="project-details">
      {% if project.authors %}
        <p class="project-authors">{{ project.authors }}</p>
      {% endif %}
      {% if project.abstract != "" %}
        <p class="project-abstract">{{ project.abstract }}</p>
      {% endif %}
    </div>
  </div>
  {% endif %}
</div>
