/*******************************************************************************
 * Themes
 ******************************************************************************/

:root {
  --global-bg-color: #{$fog};
  --global-code-bg-color: #{$code-bg-color-light};
  --global-text-color: #{$ink};
  --global-text-color-light: #{$steel};
  --global-theme-color: #{$slate};
  --global-hover-color: #{$steel};
  --global-theme-color-2: #{$grey-color};
  --global-footer-bg-color: #{$charcoal};
  --global-footer-text-color: #{$ash};
  --global-footer-link-color: #{$silver};
  --global-distill-app-color: #{$grey-color};
  --global-table-color: #{$grey-color-light};
  --global-divider-color: #{rgba($steel, 0.3)};

  .fa-sun {
    display : none;
  }
  .fa-moon {
    padding-left: 10px;
    padding-top: 12px;
    display : block;
  }

  .logo-light { display: inline; }
  .logo-dark { display: none; }

  // Fonts
  --global-font-family: "Inter";
  --global-code-font-family: "Cantarell";
  --global-condensed-font-family: "Bebas Neue";
}

html[data-theme='dark'] {
  --global-bg-color: #{$charcoal};
  --global-code-bg-color: #{$code-bg-color-dark};
  --global-text-color: #{$ash};
  --global-text-color-light: #{$grey-color};
  --global-theme-color: #{$silver};
  --global-hover-color: #{$steel};
  --global-footer-bg-color: #{$smoke};
  --global-footer-text-color: #{$ash};
  --global-footer-link-color: #{$silver};
  --global-distill-app-color: #{$grey-color-light};
  --global-divider-color: #{rgba($silver, 0.2)};
  --global-table-color: #{$grey-color};

  .fa-sun {
    padding-left: 10px;
    padding-top: 12px;
    display : block;
  }
  .fa-moon {
    display : none;
  }

  .logo-light { display: none; }
  .logo-dark { display: inline; }
}
