---
---

<div class="row">
  <div class="col-sm-2 abbr">
  {% if entry.abbr %}
    {% if site.data.venues[entry.abbr] %}
    <abbr class="badge"><a href="{{site.data.venues[entry.abbr].url}}" target="_blank">{{entry.abbr}}</a></abbr>
    {% else %}
    <abbr class="badge">{{entry.abbr}}</abbr>
    {% endif %}
  {% endif %}
  </div>

  <div id="{{entry.key}}" class="col-sm-8">
    {% if entry.type == "thesis" %}
      {{reference}}
    {% else %}
      <div class="title">{{entry.title}}</div>
      <div class="author">
        {% for author in entry.author_array %}
          {% assign author_is_self = false %}
          {% if author.last contains site.scholar.last_name%}
            {% if site.scholar.first_name contains author.first%}
              {% assign author_is_self = true %}
            {% endif %}
          {% endif %}
          {% assign coauthor_url = nil %}
          {% if site.data.coauthors[author.last] %}
            {% for coauthor in site.data.coauthors[author.last] %}
              {% if coauthor.firstname contains author.first %}
                {% assign coauthor_url = coauthor.url %}
                {% break %}
              {% endif %}
            {% endfor %}
          {% endif %}

          {% if author.prefix %}
            {% capture author_str %}{{author.first}} {{author.prefix}} {{author.last}}{% endcapture %}
          {% else %}
            {% capture author_str %}{{author.first}} {{author.last}}{% endcapture %}
          {% endif %}
          {% if forloop.length == 1 %}
            {% if author_is_self %}
              <em class="author">{{author_str}}</em>
            {% else %}
              {{author_str}}
            {% endif %}
          {% else %}
            {% unless forloop.last %}
              {% if author_is_self %}
                <em class="author">{{author_str}}</em>,
              {% else %}
                {% if coauthor_url %}
                  <a href="{{coauthor_url}}" target="_blank">{{author_str}}</a>,
                {% else %}
                  {{author_str}},
                {% endif %}
              {% endif %}
            {% else %}
              {% if author_is_self %}
                and <em class="author">{{author_str}}</em>
              {% else %}
                {% if coauthor_url %}
                  and <a href="{{coauthor_url}}" target="_blank">{{author_str}}</a>
                {% else %}
                  and {{author_str}}
                {% endif %}
              {% endif %}
            {% endunless %}
          {% endif %}
        {% endfor %}
      </div>

      <div>
        <p class="periodical font-italic">
          {% if entry.type == "article" %}
            In {{entry.journal}}
          {% elsif entry.type == "inproceedings" and entry.conference %}
            In {{entry.eventtitle}}
          {% elsif entry.type == "inproceedings" %}
            {{entry.year}}
          {% elsif entry.type == "eprint" %}
            In {{entry.booktitle}} ({{entry.eprint}})
          {% endif %}
        </p>
      {% if entry.date %}
        {{ entry.date }}
      {% endif %}
      {% if entry.status %}
      <em>({{ entry.status) }})</em>
    {% endif %}
      </div>
    {% endif %}

    <div class="col p-0">
        {% if entry.abstract %}
          <a class="abstract badge bib-button waves-effect font-weight-light mr-1" role="button">Abstract</a>
        {% endif %}
        {% if entry.html %}
          <a class="badge bib-button waves-effect font-weight-light mr-1" href="{{ entry.html }}" target="_blank">HTML</a>
        {% endif %}
        {% if entry.preprint %}
          <a class="badge bib-button waves-effect font-weight-light mr-1" href="{{ entry.preprint }}" role="button" target="_blank">Preprint</a>
        {% endif %}
        {% if entry.pdf %}
          <a class="badge bib-button waves-effect font-weight-light mr-1" href="{{ entry.pdf | prepend: '/assets/pdf/' | prepend: site.baseurl | prepend: site.url }}" target="_blank">PDF</a>
        {% endif %}
        {% if entry.supplement %}
          <a class="badge bib-button waves-effect font-weight-light mr-1" href="{{ entry.supplement | prepend: '/assets/pdf/' | prepend: site.baseurl | prepend: site.url }}" target="_blank">Supplementary</a>
        {% endif %}
        {% if entry.addendum %}
          <a class="badge bib-button waves-effect font-weight-light mr-1" href="{{ entry.addendum | prepend: '/assets/pdf/' | prepend: site.baseurl | prepend: site.url }}" target="_blank">Addendum</a>
        {% endif %}
        {% if entry.poster %}
          <a class="badge bib-button waves-effect font-weight-light mr-1" href="{{ entry.poster | prepend: '/assets/pdf/' | prepend: site.baseurl | prepend: site.url }}" target="_blank">Poster</a>
        {% endif %}
        {% if entry.slides %}
          <a class="badge bib-button waves-effect font-weight-light mr-1" href="{{ entry.slides | prepend: '/assets/pdf/' | prepend: site.baseurl | prepend: site.url }}" target="_blank">Slides</a>
        {% endif %}
        {% if entry.code %}
          <a class="badge bib-button waves-effect font-weight-light mr-1" href="{{ entry.code }}" target="_blank">Code</a>
        {% endif %}
        {% if entry.arxiv %}
          <a class="badge bib-button waves-effect font-weight-light mr-1" href="http://arxiv.org/abs/{{ entry.arxiv }}" target="_blank">arXiv</a>
        {% endif %}
        {% if entry.video %}
          <a class="badge bib-button waves-effect font-weight-light mr-1" href="{{ entry.video }}" target="_blank">Video</a>
        {% endif %}
        {% if entry.bibtex_show %}
          <a class="bibtex badge bib-button waves-effect font-weight-light mr-1" role="button">BibTeX</a>
        {% endif %}
        {% if entry.website %}
          <a class="badge bib-button waves-effect font-weight-light mr-1" href="{{ entry.website }}" role="button" target="_blank">Website</a>
        {% endif %}
      </div>

    <!-- Hidden abstract block -->
    {% if entry.abstract %}
    <div class="abstract hidden">
      <p>{{ entry.abstract }}</p>
    </div>
    {% endif %}

    <!-- Hidden bibtex block -->
    {% if entry.bibtex_show %}
    <div class="bibtex hidden">
        {% assign bibtext_str = entry.bibtex | regex_replace: "( )*((html)|(preprint)|(code)|(selected)|(bibtex_show)|(abbr)|(pdf)|(abstract)|(blog)|(poster)|(slides)|(website)|(supp)|(arxiv))+(.)*(\n)*(\r)*", "" %}
        {% highlight bibtex %}{{ bibtext_str }}{% endhighlight %}
    </div>
    {% endif %}
  </div>
</div>